<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/currentLog.log" filePattern="logs/logs-%i.zip">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] | %-18marker | %-5level %logger [%line] - %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Logger name="STDOUT" additivity="false" level="info">
            <AppenderRef ref="OUT"/>
        </Logger>

        <Logger name="com.isa.unasdziala" additivity="false" level="info">
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>